SERVER_HOST=0.0.0.0
SERVER_PORT=3000

DB_CONN=postgres
DB_HOST=grimoire-db
DB_PORT=5432
DB_NAME=grimoire
DB_USERNAME=username
DB_PASSWORD=password
DATABASE_URL=${DB_CONN}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
